body {
  background-color: #ff69b4;
  color: black;
  font-family: Arial;
}
.centered-image {
  border-style: hidden;
  margin: auto;
  text-align: center;
}
.discord {
  border-style: hidden;
  margin: auto;
  text-align: center;
}
.discord2 {
  border-style: hidden;
  margin: auto;
  text-align: right;
}
#centered-text {
  border-style: hidden;
  margin: auto;
  text-align: center;
}
