body {
	background-color:black;
	background-image:url('img/themebg.png');
	background-repeat:repeat;
	background-attachment:scroll;
}
/* Center Things */
h1,h2,h3,h4,h5,h6 {
  text-align: center;
}
p.center{
  text-align: center;
}
p.buttons{
  text-align: center;
}
.centered-image {
  border-style: hidden;
  margin: auto;
  text-align: center;
}
/* Other Things */
.discord {
  border-style: hidden;
  margin: auto;
  text-align: center;
}
.discord2 {
  border-style: hidden;
  margin: auto;
  text-align: right;
}
